.outfit-uniquifier {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

* {
    font-family: outfit;
}

html {
    box-sizing: border-box;
    height: 100%;
}

.body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #d6e2f0ff;
}

.qr-image {
    border-radius: 20px;
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #fff;
    border-radius: 20px;
    padding: 16px 16px 24px 16px;
    margin: 0 auto;
    max-width: 320px;
    max-height: 499px;
}

.container__h1 {
    font-size: 22px;
    font-weight: 700;
    font-weight: bold;
    color: #1f3251ff;
}

.container__p {
    font-weight: 400;
    font-size: 15px;
    color: #68778dff;
}

.attribution {
    margin-top: 20px;
    text-align: center;
    font-size: 0.75rem;
}

.attribution__link {
    text-decoration: none;
}